img[data-image-align='left'] {
  float: left;
  margin: 5px 10px 5px 0px;
}
img[data-image-align='right'] {
  float: right;
  margin: 5px 0px 5px 10px;
}
img[data-image-align='center'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
